@import url("../../styles/style.css");

.error__container {
  justify-content: center;
  height: 80vh;
}

.error__container-img {
  margin: 0 auto;
  max-width: 22rem;
}
.error-img {
  width: 100%;
}
