@import url("./utils.css");
@import url("./variables.css");

.secondary__btn {
  border: 2px solid var(--secondary-btn);
  background-color: inherit;
  padding: 0.4rem;
  margin: 0.4rem;
  text-align: center;
  border-radius: 4px;
  color: var(--secondary-btn);
  cursor: pointer;
}

.secondary__btn-icon {
  color: var(--secondary-btn);
  padding: 0.2rem;
}

.active__btn {
  background-color: var(--secondary-btn);
  color: var(--white);
}
.btn-icon-active {
  color: var(--white);
}
.dot {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--dark-grey);
  margin: 0.4rem;
}

.card__thumbnail-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
