/* Padding */
.padding-sm {
  padding: 0.4rem;
}
.padding-md {
  padding: 0.8rem;
}
.padding-lg {
  padding: 1.2rem;
}

/* margin */
.margin-sm {
  margin: 0.4rem;
}
.margin-md {
  margin: 0.8rem;
}
.margin-lg {
  margin: 1.2rem;
}

/* flex */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

/* Horizontal line */
hr {
  border: 1px solid var(--border-grey);
}
