:root {
  --primary-color: #d00000;
  --secondary-color: #bd0000;
  --light-grey: #e8e8e8;
  --border-grey: #ededed;
  --black: #000000;
  --white: #ffffff;
  --background-color: #f9f9f9;
  --secondary-btn: #065fd4;
  --scrollbar: #3d8aee;
  --dark-grey: #888888;
  --active-filter-color: #030303;
}
