@import url("../../styles/style.css");

.history__container {
  align-items: center;
  margin: 0.8rem;
  position: relative;
}

.history__header {
  font-size: 1rem;
  align-items: center;
}
.history__container-title {
  margin: 1.8rem;
}
.history__container-subtitle {
  font-size: 1.6rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 550px) {
  .history__container-title {
    font-size: 1.2rem;
  }
}
